</main>
<footer class="footer">
        <p>My Shop <span class="footer__copyright">&copy;</span></p>
</footer>
<script src="/js/request.js"></script>
<script src="/js/main.js"></script>
</body>
</html>