<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= typeof titlePage !=='undefined' ? titlePage : 'Shop' %>
    </title>
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/utility.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/form&button.css">
    <meta name="csrf" content="<%= csrf %>">
</head>

<body>
    <%- include('navigation')%>
        <%- include('message')%>
            <main class="container">