<%- include('includes/header')%>
<section class="e404">
    <h1 class="e404__title">404</h1>
    <p class="e404__info">page "<%=url%>" not found</p>
    <img class="e404__img" src="/images/404.png" />
</section>
<%-include('includes/footer')%>